:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-black-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo:active {
  color: crimson;
}

.part-logo {
  color: var(--accent-color);
}

.social-link {
  color: var(--primary-black-color);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.social-link:active {
  color: crimson;
}

.site-nav-link {
  color: var(--primary-black-color);
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14em;
}

.site-nav-link :hover,
.site-nav-link :focus {
  color: var(--accent-color);
}

.site-nav-link :active {
  color: crimson;
}

.site-nav-link-current {
 color: var(--accent-color);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.hero :hover,
.hero :focus {
  color: var(--accent-color);
}

.hero :active {
  color: crimson;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.duties-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.parargraph-text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  color: #757575;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
}

.join-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer {
  background: #2f303a;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  color: var(--primary-white-color);
  display: inline-block;
  border: 1px solid black;
  background-color: var(--accent-color);
}

.button {
  font-family: inherit;
}

.button.primary {
  color: var(--title-text-color)
  background-color: #f5f4fa;
  border-color: transparent;
}

.features-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.feature-type {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  color: #757575;
}

ul {
  list-style: none;
}
